


header {
  display: flex;
  justify-content: space-between;
}


body {
  margin: 2em auto;
  width: 64em;

}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 17em;

}
nav a {
  text-decoration: none;
  color: black;
  background-color: orange;
  padding: 5px;
  border-radius: 4px;
  
}
/* body, h1, h2, ul, ol */
